{% extends 'back/base.html' %}


{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="toolbar">
                            <a class="btn btn-sm btn-danger" href="{% url 'tambah_artikel' %}">+artikel</a> &emsp; &emsp;
                            <!--Here you can write extra buttons/actions for the toolbar-->
                        </div>
                        <table id="bootstrap-table" class="table">
                            <thead>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" class="text-center">No</th>
                                <th data-field="name" data-sortable="true">Nama Tempat</th>
                                <th data-field="salary" data-sortable="true">Body</th>
                                <th data-field="country" data-sortable="true">Lokasi</th>
                                <th data-field="city">Kategory</th>
                                <th>Action</th>
                            </thead>
                            <tbody>

                                {% for a in artikel %}
                                <!-- <tr>
                                    <div class="blog-thumb">
                                        <a href="{% url 'artikel_detail' a.id %}" class="post-img hover-link">
                                            <img src="/media/{{ a.img }}" alt="img">
                                        </a>
                                    </div>
                                </tr> -->
                                <tr>
                                    <td></td>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{a.nama_tempat}}</td>
                                    <td>{{a.body}}</td>
                                    <td>{{a.lokasi}}</td>
                                    <td>{{a.kategory}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href="{% url 'lihat_artikel' a.id %}">lihat</a>
                                        <a class="btn btn-sm btn-warning" href="{% url 'edit_artikel' a.id %}">edit</a>
                                        <a onclick="return confirm('delete artikel?');" class="btn btn-sm-danger" href="{% url 'delete_artikel' a.id %}">delete</a>
                                    </td>
                                </tr>
                               {% endfor %} 

                            </tbody>
                        </table>
                    </div>
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>
</div>
{% endblock content %}


{% block js %}

{% endblock js %}
