{% extends 'front/base.html' %}
{% load static %}

{% block content %}
<div class="row content-wrapper">
    <div class="columns large-12">
      <div class="row wrapper">
        <div class="columns large-7 content">
          <h1 class="page-title">Blog Posts</h1>

          <body> 
            <font size="4"><b><p>Jika mendengar kata Samarinda </b>, tentu hal pertama yang muncul di pikiran adalah Sungai Mahakam. Tidak salah, Sungai Mahakam merupakan salah satu ikon yang menjadi ciri khas Ibu Kota Provinsi Kalimantan Timur ini. Bukan tanpa alasan, Sungai Mahakam merupakan sungai terbesar yang mencapai panjang sekitar 920 km. Tidak heran, jika ini menjadi salah satu destinasi wisata populer yang dikunjungi masyarakat hingga kini.</p></font><br>
            <font size="4"><p>Selain Sungai Mahakam, terdapat beberapa destinasi wisata Samarinda lain yang tidak kalah menarik untuk dikunjungi. Mulai dari Pulau Beras Basah dengan panorama alam dan berbagai kuliner tentunya, hingga beberapa kampung budaya yang menawarkan berbagai macam keunikan. Masing-masing destinasi wisata Samarinda ini tentu dapat memberikan berbagai pengalaman menarik yang sayang dilewatkan.</p></font><br>
            <font size="4"><p>Jika Anda sedang merencanakan liburan bersama keluarga atau teman, kota Samarinda bisa menjadi salah satu pilihan. Di sini, Anda bisa mengunjungi beberapa wisata Samarinda alam menarik dan mempesona, maupun mencoba pengalaman unik di berbagai desa budaya di Samarinda. Mulai dari belajar menenun kain hingga berbagai budaya Suku Dayak dan berbagai ciri khasnya.</p></font><br>
            <font size="4"><p>Selain bisa membuat pikiran dan tubuh santai sejenak dan rehat dari aktivitas harian, mengunjungi beberapa wisata Samarinda populer juga dapat memperluas wawasan Anda tentang budaya yang ada di Indonesia.</p></font><br>
          </body>
          
        </div>
        <div class="columns large-4 large-offset-1 content sidebar">
          <h1 class="page-title services">Vidio</h1>
          <body>
            
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="450" height="315" type="text/html" src="https://www.youtube.com/embed/u7sFmg9vpeM?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"><div><small><a href="https://youtubeembedcode.com/pl/">youtubeembedcode.com/pl/</a></small></div><div><small><a href="https://theimpossiblequiz.info/the-impossible-quizmas/">https://theimpossiblequiz.info/the-impossible-quizmas/</a></small></div><div><small><a href="https://youtubeembedcode.com/en">youtubeembedcode.com/en/</a></small></div><div><small><a href="https://unoregler.com/da/">unoregler.com/da</a></small></div><div><small><a href="https://youtubeembedcode.com/es/">youtubeembedcode es</a></small></div><div><small><a href="https://skattefrittcasino.nu/">casino utan svensk licens skattefritt</a></small></div></iframe>
          </body>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}