{% extends 'front/base.html' %}
{% load static %}

{% block content %}
<div class="row content-wrapper">
    <div class="columns large-12">
      <div class="row wrapper">
        <div class="columns large-4 content sidebar">
          <h1 class="page-title services">Profil Kota Samarinda</h1>
          <body>    
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="320" height="315" type="text/html" src="https://www.youtube.com/embed/YHarFYkCbro?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"><div><small><a href="https://youtubeembedcode.com/pl/">youtubeembedcode.com/pl/</a></small></div><div><small><a href="https://skattefrittcasino.nu/">casino skattefritt utan spelpaus</a></small></div></iframe>
          </body>
        </div>
        <div class="columns large-8">
          <h1 class="page-title"></h1>
          <div class="row">
            <div class="columns large-6">
              <div class="service-box-page">
                <p> <img src="{% static 'front/images/pesut.jpg' %}" alt=""> </p>
                <h3>Pesut Mahakam menjadi simbol Kalimantan Timur</h3>
                <p>Pesut ini merupakan lumba-lumba air tawar yang menjadi simbol Provinsi Kalimantan Timur.</p>
              </div>
            </div>
            <div class="columns large-6">
              <div class="service-box-page">
                <p> <img src="{% static 'front/images/sukudayak.jpg' %}" alt=""> </p>
                <h3>Suku di KalTim pertama yakni Dayak</h3>
                <p>Suku ini merupakan suku asli yang terbesar mendiami wilayah Kalimantan, mereka masih tinggal di pedalaman Kalimantan.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns large-6">
              <div class="service-box-page">
                <p> <img src="{% static 'front/images/batubara.jpg' %}" alt=""> </p>
                <h3>Kaltim penghasil batu bara terbesar</h3>
                <p>Di Indonesia, provinsi ini menyumbang 268.449 ton total batu bara yang diekstraksi di Indonesia</p>
              </div>
            </div>
            <div class="columns large-6">
              <div class="service-box-page">
                <p> <img src="{% static 'front/images/islamic.jpg' %}" alt=""> </p>
                <h3>Masjid Islamic Center Samarinda</h3>
                <p>Masjid ini merupakan masjid terbesar ketiga di Indonesia setelah Masjid Agung Surabaya di Surabaya.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}